.booking {
    padding: 80px 0;
    background-color:  var(--booking-bg);
}

.booking__title {
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}

.booking__fieldset {
    border: none;
    padding: 0;
}

.booking__fieldset_data {
   
    max-width: 980px;
    margin: 0 auto 40px;

}

.booking__fieldset_entertainment {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.booking__fieldset_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.booking__legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;   
    margin-bottom: 40px;
}
.booking__legend_align_center {
     text-align: center;
}


.booking__radio-input:checked { /* не работает. чтобы был квадратик фокуса пришлось пожертвовать собственным :checked*/
    border: 3px solid var(--main-color);
    background-color:#440f51; /* на мой вкус лучше без этого квадратика, но с checked d wdtn*/

}

.booking__radio-input:focus {    
    outline: 1px solid var( --secondary-fucsia);
}

.booking__radio-input {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background-color: var(--main-color);
    border: 2px solid transparent;
    transition: 0.2s all linear;
    outline: 1px solid transparent;
    margin-right: 5px;  
    position: relative;
    top: 4px; 
}


.booking__radio-label_hall {
    padding: 7px 15px;
    background-color: var(--main-color);
    border-radius: 8px;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    border: 2px solid transparent;
    flex-basis: 240px;    
    transition: color .25s ease-in, outline .25s ease-in, background-color .25s ease-in;   
       
}

.booking__radio-label_hall:hover {    
    background-color: #eadeed;;
    outline: 2px solid var(--booking-btn);
}

.booking__radio-label_hall:focus {
    background-color: var(--main-color); 
    color: #000;
    outline: 2px solid var(--booking-btn);
}

.booking__radio-input-hall:active+ .booking__radio-label_hall,
.booking__radio-input-hall:checked+ .booking__radio-label_hall {

  border-color: var(--main-color);
  color: var(--main-color);
  background-color:var(--booking-btn);
 
}
    
.booking__fieldset_halls {
    display: flex;
    gap: 29px;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.booking__ch-box-label {
    position: relative;
    display: block;    
    line-height: 25px;
    padding-left: 37px;
    font-weight: 400;
    font-size: 22px; 
}

.booking__ch-box-input {
    position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -37px;

}

.booking__ch-box-input:before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    
}

.booking__ch-box-input:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    width: 20px;
    height: 10px;
    border: 3px solid #440f51;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
    transition-property: opacity;
}

.booking__ch-box-input:focus:before{
    outline: 1px solid var( --secondary-fucsia);
}

.booking__ch-box-input:checked:after {
    opacity: 1
  }

.booking__group {
    display: flex;
    flex-direction: column;   
    gap: 20px;   
    align-self: end;  
   
}

.booking__group_date {
    flex-basis: 300px;
}

.booking__group_contacts{
    row-gap: 14px;
    flex-basis: 300px;
 }

.booking__group_name {
    row-gap: 14px; 
    max-width: 280px;
} 

.booking__fieldset-info {
    display: flex;
    gap: 50px;  
    
}

.booking__date {
    display: flex;
    gap: 32px;
}

.booking__date-input {
    
    width: 134px ;
    outline: none;
    border: 2px solid transparent;
    color:#000;    
    transition-duration: 0.2s;
    transition-property: outline;   
    font-size: 18px;
    line-height: 1.55;
    padding: 9px 6px; 
    outline: none;
}
.booking__group_date {
    row-gap: 35px;
    column-gap: 30px ;
}

.booking__date-label {    
    position: relative;
}

.booking__date-input:focus-visible {
    outline: 2px solid var( --secondary-fucsia);
}

.booking__info-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
}

.booking__info-input {
    color: #000;
    padding: 12px 20px;
    outline: none;   
    transition-duration: 0.2s;
    transition-property: outline; 
}

.booking__info-input:focus {
    outline: 2px solid var( --secondary-fucsia);
}

.booking__btn-wrap {
    max-width: 980px;
    margin: 0 auto;
    text-align: right;
}

.booking__btn {
    background-color:  var(--main-color);
    color: #1B1A1B;
    padding: 5px;
    border-radius: 10px;    
    font-weight: 700;
    font-size: 22px;
    max-width: 300px;
    line-height: 127%;
    text-transform: uppercase;
    color: var(--booking-btn);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    padding: 15px 50px;  
    outline: none;       
    transition: outline .2s ease-in, background-color .2s ease-in;
}

.booking__btn:hover {
    background-color: #eadeed;
    outline: 3px solid var(--booking-btn);
}

.booking__btn:focus {
    outline: 3px solid var(--booking-btn); /* цвет из макета, мне кажется плохо виден, взяла бы ярче...*/
}

.booking__btn:active {
    background-color: #eadeed; 
    outline: none;
}

.booking__group-item {
    display: flex;
    flex-direction: column ;
    gap: 6px;    
}

.booking__radio-input-hall {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    position: absolute;
}

@media(max-width: 1240px) {
    .booking {
        padding: 60px 0;
    }

    .booking__title {
        font-size: 30px;
        line-height: 133%;
        margin-bottom: 25px;
    }

    .booking__radio-label_hall {
        font-size: 20px;
        line-height: 120%;
    }

   .booking__fieldset_data {
    max-width: 904px;
   }

   .booking__group_name {
    max-width: 251px;
   }

   .booking__group_date {
    flex-basis: 280px;
}

.booking__group_contacts{
    row-gap: 14px;
    flex-basis: 250px;
    max-width: 251px;
 }

 .booking__btn {
    font-size: 18px;
line-height: 133%;
padding: 13px 45px; 
 }

 .booking__fieldset_entertainment {
    justify-content: space-between;
 }
}

@media(max-width: 910px) {
    .booking {
        padding: 50px 0;
    }

    .booking__title {
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .booking__radio-label_hall {
        font-size: 16px;
        line-height: 125%;
        padding: 6px 20px;
    }

    .booking__fieldset_data {
        max-width: 688px;
       }

       .booking__fieldset_halls {
        margin-bottom: 50px;
       }

       .booking__fieldset_entertainment {
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 40px;
        margin-bottom: 50px;
       }
       .booking__radio-label {
        line-height: 40px;
       }
       .booking__radio-input {
        height: 40px;
        width: 40px;
        top: 13px;
       }

       .booking__ch-box-input:before 
       {
        width: 40px;
            height: 40px;
       }
       
       .booking__ch-box-input:after {
        top: 10px;
        left: 8px;
        width: 25px;
        height: 15px;
       }

       .booking__ch-box-input {
        margin-left: -60px;
       }

       .booking__ch-box-label {
        line-height: 40px;
        padding-left: 60px;
       }

       .booking__group_date {
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 688px;       
     
       }

       .booking__group_contacts {
        max-width: 300px;
        flex-basis: 300px;
       }

       .booking__group_name {
        max-width: 280px;
       }

       .booking__date {
        max-width: 280px;
        gap: 14px;
       }

       .booking__fieldset-info {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 50px;
        column-gap: 15px;
       }

       
       .booking__info-input-amount {
        flex-basis: 300px;
       }

       .booking__btn {
        padding: 16px 50px;
        font-size: 22px;
        line-height: 127%;
       }
}

@media(max-width: 660px) {
    .booking__title {
        font-size: 14px;
line-height: 143%;
margin-bottom: 13px;
    }

    .booking {
        padding: 30px 0;
    }
 

    .booking__legend {
        font-size: 13px;
line-height: 129%;
margin-bottom: 15px;
    }

    .booking__fieldset_halls {
        margin-bottom: 15px;
        flex-wrap: wrap;
        gap:15px;
       }
.booking__fieldset_column {
    gap: 15px;
}
       .booking__fieldset_entertainment {
        flex-direction: column;
        row-gap: 25px;
        margin-bottom: 30px;
       }

       .booking__group_date {
        flex-direction: column;
       }

       .booking__radio-input {
        height: 40px;
        width: 40px;
        top: 13px;
       }

       .booking__ch-box-label {
        padding-left: 50px;
        line-height: 30px;
        font-size: 16px; 
       }

       .booking__ch-box-input {
        margin-left: -50px;    
       }

       .booking__ch-box-input:before 
       {
        width: 30px;
            height: 30px;
       }
       
       .booking__ch-box-input:after {
        top: 6px;
        left: 5px;
        width: 20px;
        height: 10px;
       }

       .booking__radio-label {
        line-height: 30px;
        font-size: 16px; 
       }

       .booking__radio-input {
        height: 30px;
        width: 30px;
        top: 8px;
       }

       .booking__radio-label_hall {
        font-size: 14px;
        line-height: 129%;
        padding: 6px 18px;
        flex-basis: 130px;
    }
    /* .booking__date {
        flex-basis: 280px;
        max-height: 52px;
    } */

    .booking__info-input-amount {
        flex-basis: 280px;
        max-width: 280px;
        max-height: 52px;
    }
    .booking__group_contacts {
        max-width: 280px;
        flex-basis: 280px;
       }
    
    .booking__btn {
        padding: 17px 58px;
        font-size: 18px;
        line-height: 144%;
       }


}