.booking {
    padding: 80px 0;
    background-color:  #440f51;;
}

.booking__title {
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}

.booking__fieldset {
    border: none;
    padding: 0;
}

.booking__fieldset_data {
   
    max-width: 980px;
    margin: 0 auto 40px;

}

.booking__fieldset_entertainment {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.booking__fieldset_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.booking__legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;   
    margin-bottom: 40px;
}
.booking__legend_align_center {
     text-align: center;
}

/* .booking__radio-input {
    appearance: none;               
    -webkit-appearance: none;
    -moz-appearance: none; 
    position: absolute;
} */
.booking__radio-input:checked { /* не работает. чтобы был квадратик фокуса пришлось пожертвовать собственным :checked*/
    border: 3px solid #fff;
    background-color:#440f51; /* на мой вкус лучше без этого квадратика, но с checked d wdtn*/

}

.booking__radio-input:focus {    
    outline: 1px solid #cd06ff;
}

.booking__radio-input {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border: 2px solid transparent;
    transition: 0.2s all linear;
    outline: 1px solid transparent;
    margin-right: 5px;  
    position: relative;
    top: 4px; 
}


.booking__radio-label_hall {
    padding: 7px 15px;
    background-color: #fff;
    border-radius: 8px;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    border: 2px solid transparent;
    flex-basis: 240px;    
    transition: color .25s ease-in, outline .25s ease-in, background-color .25s ease-in;   
       
}

.booking__radio-label_hall:hover {    
    background-color: #eadeed;;
    outline: 2px solid #6c0287;
}

.booking__radio-label_hall:focus {
    background-color: #fff; 
    color: #000;
    outline: 2px solid #6c0287;
}

.booking__radio-input-hall:active+ .booking__radio-label_hall,
.booking__radio-input-hall:checked+ .booking__radio-label_hall {

  border-color: #fff;
  color: #fff;
  background-color:#6c0287;
 
}
    
.booking__fieldset_halls {
    display: flex;
    gap: 60px;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.booking__ch-box-label {
    position: relative;
    display: block;    
    line-height: 25px;
    padding-left: 37px;
    font-weight: 400;
    font-size: 22px; 
}

.booking__ch-box-input {
    position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -37px;

}

.booking__ch-box-input:before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    
}

.booking__ch-box-input:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    width: 20px;
    height: 10px;
    border: 3px solid #440f51;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
    transition-property: opacity;
}

.booking__ch-box-input:focus:before{
    outline: 1px solid #cd06ff;
}

.booking__ch-box-input:checked:after {
    opacity: 1
  }

.booking__group {
    display: flex;
    flex-direction: column;   
    gap: 36px;   
    align-self: end;  
   
}

.booking__group_date {
    flex-basis: 300px;
}

.booking__group_contacts{
    row-gap: 14px;
    flex-basis: 300px;
 }

.booking__group_name {
    row-gap: 14px; 
    max-width: 280px;
} 

.booking__fieldset-info {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    
}

.booking__date {
    display: flex;
    gap: 32px;
}

.booking__date-input {
    padding: 10px 20px;
    max-width: 134px ;
    outline: none;
    border: 2px solid transparent;
    color:#000;
    height: 50.56px;
    transition-duration: 0.2s;
    transition-property: outline;
}

.booking__date-label {    
    position: relative;
}

.booking__date-input:focus-visible {
    outline: 2px solid #cd06ff;
}

.booking__info-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
}

.booking__info-input {
    color: #000;
    padding: 12px 20px;
    outline: none;   
    transition-duration: 0.2s;
    transition-property: outline; 
}

.booking__info-input:focus {
    outline: 2px solid #cd06ff;
}

.booking__btn-wrap {
    max-width: 980px;
    margin: 0 auto;
    text-align: right;
}

.booking__btn {
    background-color:  #ffffff;
    color: #1B1A1B;
    padding: 5px;
    border-radius: 10px;    
    font-weight: 700;
    font-size: 22px;
    max-width: 300px;
    line-height: 127%;
    text-transform: uppercase;
    color: #6c0287;
    padding: 15px 50px;  
    outline: none;       
    transition: outline .2s ease-in, background-color .2s ease-in;
}

.booking__btn:hover {
    background-color: #eadeed;
    outline: 3px solid #6c0287;
}

.booking__btn:focus {
    outline: 3px solid #6c0287; /* цвет из макета, мне кажется плохо виден, взяла бы ярче...*/
}

.booking__btn:active {
    background-color: #eadeed; 
    outline: none;
}

.booking__group-item {
    display: flex;
    flex-direction: column ;
    gap: 6px;    
}

.booking__radio-input-hall {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    position: absolute;
}

