.title{
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}

.hero{
    margin-bottom: 100px;     
    position: relative; 
    
  }

.hero::after{     
    content: ''; 
    background-image: url(../img-from-figma/desctop1.png);
    background-size: contain;
    display: block;  
    height: 762px;           
    width: 675px;    
    background-repeat: no-repeat;
    background-size: contain;
    right:0px;
    bottom: 0px;
    position: absolute; 
    
}

.hero .title{
text-align: left;
font-size: 150px;
font-weight: 900;
line-height: 150px;
letter-spacing: -15px;
margin-bottom: 0;
white-space: pre;
width: 883px;

 
}
.halls {
    position: relative;
}
.hero .text{
    font-size: 28px;
    line-height: 178%;
    padding-left: 100px;
    
}

.footer .title {
    margin-bottom: 54px;
}

.section:first-child .title {
    margin-bottom: 60px;
    }

.section:last-child .title {
margin-bottom: 40px;
}

.text:last-child{
    margin-bottom: 0 ;
}

.text{
    margin-bottom: 28px;
}

.text-wrap {
    margin-bottom: 78px;
}

.list{
    list-style: none;
    
}

.hall-links{
    text-decoration: none;
    color: inherit;
    word-spacing: 100vw;
    line-height:  114.286%;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 700;    
   }

.hall{
    color: #FFF;
    max-width: 1180px;
    text-align: center;    
   padding-bottom: 275px;
    padding-top: 275px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    }

.hall:first-child{
      background-image: url(../img-from-figma/80-vibes.jpg);
    margin-bottom: 60px;
}

.hall:nth-child(2){
    background-image: url(../img-from-figma/star-war.jpg);
    margin-bottom: 60px;
    }

.hall:nth-child(3){
     background-image: url(../img-from-figma/wild-west.jpg);
    margin-bottom: 60px;
    }

.hall:last-child{
    background-image: url(../img-from-figma/neon.jpg);
    }

.quotes{
    color: #6C0287;
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    text-transform: uppercase;
    padding-right: 16px;
}

.blockquote {    
    font-size: 44px;
    line-height: 113.636%;  
    text-align: right;   
}

.upper{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
    line-height: 113.636%;
    position: relative;
    padding-left: 55px;
    /* white-space: pre; */
    margin-bottom: 40px;
    text-align: left;  
}
.break:after{
    content: "\A";
    white-space: pre;
}
.upper::before{
    content:	"\201C";
    color: #6C0287;    
    font-weight: 900;
    line-height: 50px;
    text-transform: uppercase;    
    position: absolute;
    top:-8px;
    left: 0px;
}

.upper::after{
    content: "\201D";
    color: #6C0287;
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    text-transform: uppercase;
}

.auth-text{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 260px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.auth-foto{
    object-fit:cover;
    height: 80px;
    width: 80px;
    margin-right: 35px;
    border-radius: 50px;
    object-position: bottom -35px right 0px;     
    vertical-align: middle;
}

.adress-link{
    color: inherit;
    text-decoration: none;
}

.wrap-link{
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
}



.wrap-link.location{
    margin-bottom: 38px;
    background-image: url(../img-from-figma/location.svg);
    /* white-space: pre; */
    background-size: 33px;
}

.wrap-link.phone{
    margin-bottom: 11px;
    background-image: url(../img-from-figma/phone-call.svg);
}

.wrap-link.mail{
    margin-bottom: 39px;
    background-image: url(../img-from-figma/envelope.svg);
}


.items{
    padding: 0;
    list-style: none;
}

.item{
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.list{
    display: inline;
    margin-right: 26px;
}

.list:last-child{
    margin-right: 0;
}

