.list{
    margin: 0;
    padding: 0;
}

.question{   
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;   
    line-height: 46px;
    list-style-type: none;
    margin: 0;
}

.question:not(:last-child){
    margin-bottom: 20px;
}

.question:nth-child(even){
    background-color: #440F51;
    color: #fff;
}

.question:nth-child(odd){
    background-color: #fff;
    color: #1C1A1A;

}

.question:after{
    content:"";
    width: 46px;
    height:46px;
    display: inline-block;   
    background-size: contain;
    float:right;
}
.question:nth-child(even):after{
    background-image: url("../img/open.svg");
}

.question:nth-child(odd):after{
    background-image: url("../img/open-purple.svg");
}
