@import url("var.css");
@import url("global-style.css");
@import url("../header/header.css");
@import url("../questions/questions.css");
@import url("../footer/footer.css");
@import url("../hero/hero.css");
@import url("../halls/halls.css");
@import url("../about/about.css");
@import url("normolize.css");
@import url("../booking/booking.css");
@import url("../reviews/reviews.css");