* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #1B1A1B;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 50px;

}

.section{
    margin-bottom: 100px;
}

.upper{
    text-transform: uppercase;
}

.wrapper {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

.foto_cap{
    margin:0;
}

