.questions__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.questions__item{   
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;   
    line-height: 46px;   
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;  
   position: relative;
    
}
.questions__btn {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
     transition: color .2s ease-in, border-color .2s ease-in, background-color .2s ease-in;
  }

.questions__btn:before {
    content: "";
    position: absolute;
    inset: 0;
}

.questions__list>:not(:last-child){
    margin-bottom: 20px;
}

.questions__item:nth-child(even){
    background-color: var(--purple-plus);
    color: var(--main-color);
}

.questions__item:nth-child(odd){
    background-color: var(--main-color);
    color: var(--text-dark);
}

.questions__item:nth-child(even):hover .questions__plus {
    color: var(--purple-plus);  
    background-color: var(--main-color);    
  }

.questions__item:nth-child(odd):hover .questions__plus {
    color:var(--main-color); 
    background-color: var(--purple-plus); 
  }

.questions__plus {
    display: inline; 
    border-radius: 50%;
    cursor: pointer;  
    width: 46px;
    height: 46px; 
    opacity: 1;
    transition: transform 0.6s, color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity 0.3s ease-in;
   
}

.questions__plus_color_purple{    
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.questions__plus_color_white {
    border: 2px solid var(--purple-plus);
    color: var(--purple-plus);
}

.questions__plus-minus {
width: fit-content;
opacity: 1;
transition: opacity 0.3s ease-in; 

}


.questions__item:hover .questions__plus {
    transform: rotate(180deg);

}

/* .questions__item:active .questions__plus-minus {
        opacity: 0;
   } */

  .questions__btn:focus .questions__plus-minus { 
    opacity: 0;    
   }

   .questions__btn:hover .questions__plus-minus { 
    opacity: 0;    
  
   }
  

  .questions__btn:focus:before {
    outline-offset: 2px;
    outline: 3px solid var( --secondary-fucsia);
    
  }

@media(max-width: 1240px) {

    .questions__item {
        padding: 23px 20px 23px 30px;
        font-size: 20px;        
    }
    .questions__item:first-child {
        padding-left: 25px;
    }

    .questions__item:last-child {
        display: none;
    }

    .questions__item:nth-child(even) {
        background-color: var(--main-color);
        color: var(--text-dark);
    }

    .questions__item:nth-child(even):active .questions__plus-minus {
        color: var(--purple-plus);     
      }

    .questions__item:nth-child(even):hover .questions__plus {
        color:var(--main-color); 
        background-color: var(--purple-plus);
      }

    .questions__plus_color_purple{    
        border: 2px solid var(--purple-plus);
        color: var(--purple-plus);
    }
   
    
}

@media(max-width: 910px) {
    .questions__item {
        padding: 23px 65px 24px 59px;
        font-size: 18px;        
    }

    .questions__item:first-child {
        padding-left: 54px;
    }
}

@media(max-width: 660px) {
    .questions__item {
        padding: 15px 9px 15px 13px;
        font-size: 12px;  
        line-height: 133%;
              }

    .questions__item:first-child {
        padding-left: 10px;
    }

    .questions__plus {
        width: 30px;
        height: 30px; 
    }
    .questions__item-text {
        max-width: 227px;
    }
}