.questions__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.questions__item{   
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;   
    line-height: 46px;   
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}

.questions__list>:not(:last-child){
    margin-bottom: 20px;
}

.questions__item:nth-child(even){
    background-color: #440F51;
    color: var(--main-color);
}

.questions__item:nth-child(odd){
    background-color: var(--main-color);
    color: #1C1A1A;
}

.questions__item:nth-child(even):hover .questions__plus {

    color: #440F51;  
    background-color: var(--main-color);
  }



  .questions__item:nth-child(odd):hover .questions__plus {
    color:var(--main-color); 
    background-color: #440F51;
  }

.questions__plus {
    display: inline; 
    border-radius: 50%;
    cursor: pointer;  
    width: 46px;
    height:46px; 
    transition: color .2s ease-in, border-color .2s ease-in, background-color .2s ease-in;
}

.questions__plus_color_purple{    
    color:var(--main-color);
    border: 2px solid var(--main-color);
}

.questions__plus_color_white {
    border: 2px solid #440F51;
    color:#440F51;
}


.questions__item:nth-child(odd):active .questions__plus-minus {
    color: #440F51;    
  }

  .questions__item:nth-child(even):active .questions__plus-minus {
    color: var(--main-color);    
  }


.questions__title {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;    
    font-size: 40px;    
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}