.questions__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.questions__item{   
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;   
    line-height: 46px;    
}

.questions__list>:not(:last-child){
    margin-bottom: 20px;
}

.questions__item:nth-child(even){
    background-color: #440F51;
    color: #fff;
}

.questions__item:nth-child(odd){
    background-color: #fff;
    color: #1C1A1A;
}

.questions__item:after{
    content:"";
    width: 46px;
    height:46px;   
    background-size: contain;
    float:right;
}

.questions__item:nth-child(even):after{   
    background-image: url("./plus-white.svg");
}

.questions__item:nth-child(odd):after{
    background-image: url("./plus-purple.svg");
}

.questions__title {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;    
    font-size: 40px;    
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}