.footer {
    
    padding: 79px 30px;
    padding-bottom: 50px;   
}

.footer__title {
    margin-bottom: 54px;
    text-align: center;
    justify-content: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}

.address__link {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
}

.address__link_icon_location {
    margin-bottom: 38px;
    background-image: url(./icons/location.svg);   
    white-space: pre-line;
    background-size: 33px;
}

.address__link_icon_phone {
    margin-bottom: 11px;
    background-image: url(./icons/phone-call.svg);
}

.address__link_icon_mail {
    margin-bottom: 39px;
    background-image: url(./icons/envelope.svg);
}

.social {
       font-size: 0;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;    
    background-size: contain;
    background-repeat: no-repeat;
}

.item:last-child {
    margin-right: 0;
}

.social__link_vk {
    display: block;
   
}

.social__icon {
    display: block;
}