.footer {    
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
    
}

.footer__container {   
    background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);    
    width: 1440px;
    padding: 0 60px 13px 0;
    
} 

.footer__title {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    font-size: 40px;    
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}

.address__link {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
    outline: 1px solid transparent;
    cursor: pointer;
    display: block;
}



.address__phone-link:hover,
.address__loco-link:hover,
.address__mail-link:hover {
    color: #eadeed;    
}
 

.address__link:focus
{    
    outline: 1px solid #cd06ff;
}

.address__phone-link:active,
.address__loco-link:active,
.address__mail-link:active {
    color: #eadeed;   
}


.address__loco-link {
    margin-bottom: 38px;
    background-image: url(./icons/location.svg);   
    white-space: pre-line;
    background-size: 33px;
}

.address__phone-link {
    margin-bottom: 11px;
    background-image: url(./icons/phone-call.svg);
}

.address__mail-link {
    margin-bottom: 39px;
    background-image: url(./icons/envelope.svg);
}

.social {
       font-size: 0;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;    
    background-size: contain;
    background-repeat: no-repeat;     
}

.social__link {
    display: block;
    outline: 1px solid transparent;
}

.social__link:hover {
    color: #eadeed;    
}

.social__link:focus {
    outline: 1px solid #cd06ff;
}

.social__icon:active {
    color:#cd06ff;  
}


.item:last-child {
    margin-right: 0;
}

.social__link_vk {
    display: block;
   
}

.social__icon {
    display: block;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;   
}

.footer__copyright-wrap {
    justify-content: flex-end;
}

.foofer__copyright-desingner-mail {
    text-align: end;   
}

.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 156px;
}

.footer__content-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;    
    flex-wrap: wrap;
}
.footer__developer-link {
    outline: 1px solid transparent;
}

.footer__developer-link:hover {
    color: #eadeed;  
}

.footer__developer-link:focus{
    outline: 1px solid #cd06ff;
}

.footer__developer-link:active {
        color: #eadeed;  
    }