.footer {   
    padding-top: 50px;
    padding-bottom: 13px;
    background: var(--footer-gradient);
}


.footer__title {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    font-size: 40px;    
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}

.address__item {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
    outline: 1px solid transparent;    
    display: block;
    transition: color .2s ease-in, outline .2s ease-in;
}

.address__item:not(:first-child) {
    cursor: pointer;
}



.address__item-phone:hover,
.address__item-mail:hover {
    color:var(--footer-hover);    
}
 

.address__item:focus
{    
    outline: 1px solid var( --secondary-fucsia);
}

.address__item-phone:active,

.address__item-mail:active {
    color:var(--footer-hover);  
}


.address__item-loco {
    margin-bottom: 38px;
    background-image: url(./icons/location.svg);   
    white-space: pre-line;
    background-size: 33px;
}

.address__item-phone {
    margin-bottom: 11px;
    background-image: url(./icons/phone-call.svg);
}

.address__item-mail {
    margin-bottom: 39px;
    background-image: url(./icons/envelope.svg);
}

.social {
       font-size: 0;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;    
    background-size: contain;
    background-repeat: no-repeat;     
}

.social__link {
    display: block;
    outline: 1px solid transparent;
    transition: color .2s ease-in, outline .2s ease-in;
}

.social__link:hover {
    color: var(--footer-hover);
}

.social__link:focus {
    outline: 1px solid var( --secondary-fucsia);
}

.social__icon:active {
    color:var( --secondary-fucsia);  
}


.item:last-child {
    margin-right: 0;
}

.social__link_vk {
    display: block;
   
}

.social__icon {
    display: block;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;   
}

.footer__copyright-wrap {
    justify-content: flex-end;
}

.foofer__copyright-desingner-mail {
    text-align: end;   
}

.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 156px;
}

.footer__content-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;    
    flex-wrap: wrap;
}
.footer__developer-link {
    outline: 1px solid transparent;
    transition: color .2s ease-in, outline .2s ease-in;
}

.footer__developer-link:hover {
    color:var(--footer-hover);
}

.footer__developer-link:focus{
    outline: 1px solid var( --secondary-fucsia);
}

.footer__developer-link:active {
        color:var(--footer-hover);
    }