
.about__blockquote {    
    font-size: 44px;
    line-height: 113.636%;  
    text-align: right;   
}

.about__blockquote-uppercase {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
    line-height: 113.636%;
    position: relative;
    padding-left: 55px;
    white-space: pre-line;
    margin-bottom: 40px;  
    text-align: left;  
}

.about__blockquote-uppercase::before {
    content:	"\201C";
    color: #6C0287;    
    font-weight: 900;
    line-height: 50px;      
    position: absolute;
    top:-8px;
    left: 0;
}

.about__blockquote-uppercase::after {
    content: "\201D";
    color: #6C0287;    
    font-weight: 900;
    line-height: 50px;
     
}

.about__author-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 260px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.about__author-foto {
    object-fit:cover;
    height: 80px;
    width: 80px;
    margin-right: 35px;
    border-radius: 50px;
    object-position: bottom -35px right 0px;  
    display: inline-block;   
    vertical-align: middle;
}

.about__text:last-child {
    margin-bottom: 0 ;
}

.about__text {
    margin-bottom: 28px;
}

.about__text-wrap {
    margin-bottom: 78px;
}

.about__title {
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}