.hero {
   padding-top: 25px;  
   padding-bottom: 50px;
}

.hero__content-container {
    min-height: 823px;  
    position: relative; 
    padding-bottom: 50px;
}

.hero__content-container::after {     
    content: ''; 
    background-image: url(../hero/desctop1.png);
    background-size: contain;
    display: block;  
    height: 762px;           
    width: 675px;    
    background-repeat: no-repeat;
    background-size: contain;
    right: 0px; 
    top: 61px;
    position: absolute;     
}

.hero__title-name {
    text-align: left;
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    letter-spacing: -15px;
    margin: 0;
    font-style: normal;
    text-transform: uppercase; 
}

.hero__title-text {
    font-size: 28px;
    line-height: 178%;
    padding-left: 100px;
    margin-bottom: 65px;
}

.hero__buttons {
    display: flex;
    justify-content: space-between;
}

.hero__info {
    display: flex;
    gap:40px;  
    margin-bottom: 150px;
    align-items: flex-end;
}

.hero__info-item {
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;    
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 115%; 
    max-width: 200px;
}

.hero__down {
    z-index: 10;    
    cursor: pointer; 
    position: absolute;  
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
   
    
}

.hero__down-icon {
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-property:background-color border-color color;
}

.hero__down-icon:hover {  
    background-color: #fff;;
    color:#cd06ff;
    border-color: #fff;
}

.hero__down-icon:focus {  
    background-color: #fff;;
    color:#cd06ff;
    border-color: #fff;
}

.hero__down:focus {
   outline: 1px solid #cd06ff;
}

.hero__down-icon:active {  
    background-color:#cd06ff;
    border-color: #cd06ff;
    color:#fff;
}

.hero__info-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 115%;    
}

.hero__strong-text {
    font-weight: 900;
    font-size: 75px;
    font-variant: all-small-caps;
    color: #cd06ff;
    line-height: 115%;
}

.hero__strong-number {
    font-weight: 900;
    font-size: 100px;
    color: #cd06ff;
    line-height: 115%;
}

.hero__link {   
    display: inline-block;
    vertical-align: center;
    border-radius: 10px;
    padding: 25px 69px;
    text-transform: uppercase;
    background-color: #6c0287;    
    font-weight: 700;
    font-size: 26px;
    line-height: 115%;
    color: #fff;     
    outline: none;
    transition-duration: .25s;
    transition-property:background-color;   
}

.hero__link:hover,
.hero__link:focus {
    background-color:  #840aa3;
} 

.hero__link:active {
    background-color: #640aa3;
}

.wehave {
    padding-top: 50px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 40px;
}

.wehave__title {      
    text-align: center;
    justify-content: center;
    font-size: 40px;    
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;  
    max-width: 700px;
}

.wehave__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;    
    flex-wrap: wrap;
}

.wehave__item {
    min-width: 380px;
    min-height: 228px;
    display: flex;
    padding: 6px 40px; 
    align-items: flex-end;  
    transition: .3s linear;
}

.wehave__item:hover {
    transform: scale(110%);
}

.wehave__text {
    max-width: 300px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    min-height: 56px;
}

.wehave__item_add_audio {
    background-image: url(../img/audio.jpg);
}

.wehave__item_add_karaoke {
    background-image: url(../img/micro.jpg);
}

.wehave__item_add_games {
    background-image: url(../img/game.jpg);
}

.wehave__item_add_films {
    background-image: url(../img/netflix.jpg);
}

.wehave__item_add_playstation {
    background-image: url(../img/sony.jpg);
}

.wehave__item_add_vr {
    background-image: url(../img/vr.jpg);
}