.hero {
   padding-top: 146px;  
   padding-bottom: 50px;
}

.hero__contant {
    min-height: 823px;  
    position: relative; 
}

.hero__contant::after {     
    content: ''; 
    background-image: url(../hero/desctop1.png);
    background-size: contain;
    display: block;  
    height: 762px;           
    width: 675px;    
    background-repeat: no-repeat;
    background-size: contain;
    right: 0px; 
    top: 61px;
    position: absolute; 
    
}

.hero__title {
text-align: left;
font-size: 150px;
font-weight: 900;
line-height: 150px;
letter-spacing: -15px;
margin-bottom: 0;
font-family: Arial;
font-style: normal;
text-transform: uppercase;
 
}

.hero__text {
    font-size: 28px;
    line-height: 178%;
    padding-left: 100px;
}