.header {
    padding-top: 30px; 
    padding-bottom: 25px;
}


.header__container {    
    display: flex;
    justify-content: space-between;

}

.navigation {
    display: flex;
}

.navigation__list {
    display: flex;
    align-items: center;    
    gap: 40px;    
}

.navigation__link {
    text-transform: uppercase;
    border: 2px solid transparent;
    font-weight: 400;
    font-size: 22px;
    line-height: 2,27;
    padding: 5px 7px;
    outline: none;
    transition-duration: 0.25s;

}

.navigation__link:hover {
    color: var( --secondary-fucsia);
}

.navigation__link:focus {
    border: 2px solid #6c0287;
   
}

.navigation__link:active{
    color: var( --secondary-fucsia);
}

.header__button {
    font-weight: 700;
    font-size: 22px;
    line-height: 136%;
    text-transform: uppercase;
    border: 3px solid var( --secondary-fucsia);
    border-radius: 10px;
    padding: 12px 32px;
    outline: none;
    transition-duration: .25s;
    transition-property:background-color, border;
}

.header__button:hover,
.header__button:focus {
    background-color: #6c0287;
    border: 3px solid transparent;   
}


.header__button:active {
    background-color: #640aa3;
    border: 3px solid transparent;
}

