
/* .halls {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
} */

.halls__list {
    list-style: none;
}

.halls__title {
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
   }

.halls__link {
    text-decoration: none;
    color: inherit;
    max-width: 250px;    
    line-height:  114.286%;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 700;   
    display: inline-block; 
    text-align: center;
    vertical-align: middle;
}

.halls__list-item{
    color: #FFF;
    max-width: 1180px;
    min-height: 710px;;
    text-align: center;
    line-height: 710px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.halls__list-item_theme_vibes80 {
      background-image: url(../halls/img/80-vibes.jpg);
    margin-bottom: 60px;
}

.halls__list-item_theme_starwars {
    background-image: url(../halls/img/star-war.jpg);
    margin-bottom: 60px;
}

.halls__list-item_theme_wildwest {
     background-image: url(../halls/img/wild-west.jpg);
    margin-bottom: 60px;
}

.halls__list-item_theme_neon {
    background-image: url(../halls/img/neon.jpg);
}   